/*inizio bottone login*/
.bottoneUser{
  border: solid 0px;
  background-color: #fff;
  padding: 0px;
}
.log {
  color: var();
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid var(--maincolor);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 5%;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(0, 140, 255, 0.176);
  transition: 0.4s;
}

.log:hover {
  color: white;
  box-shadow: 0 0 20px rgba(0, 140, 255, 0.567);
  background-color: var(--maincolor);
}
/*fine bottone login*/

/* inzio menu dropdown user */

.positionDropdownUser{
  position: absolute;
  margin-top: 20px !important;
  margin-left: -144px !important;
}

/* fine menu dropdown user */


/*Bottone Login Mobile*/
.logMobile {
  color: white;
  background-color: rgba(0, 140, 255, 0.567);
  border: 1px solid var(--maincolor);
  border: 0;
  border-radius: 4px;
  text-align: center;
}

.altezzaBottone{
  height: 20px;
}

/*Fine Bottone Login Mobile*/
/*stile navbar mobile*/

.decorationNavbarMobile{
  list-style-type: none ;
}

/*stile navbar mobile*/


/*Logo Mobile*/

.logoMobile{
  width: 80px;
  
}

/*Fine Logo Mobile*/


.position_detail{
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

/*profilo user*/

#MobileView{
 
  width: 80%;
  height:80%;
  margin:0 auto; 
}

#MobileView > #Content{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

#MobileView > #Content > #UserImg{
  width:110px;
  height:110px;
  background-color:#CCC;
  background-image: url(https://ps.w.org/simple-user-avatar/assets/icon-256x256.png?rev=2413146);
  background-size: cover;
  border-radius:100%;
  position: relative;
  margin-bottom: 12px;
}

#MobileView > #Content > #UserImg > #SocialIcon{
  width:30px;
  height:30px;
  background-color: #3b5998;
  position:absolute;
  border-radius: 100%;
  bottom: 5px;
  right: 5px;
  color:#FFF;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#MobileView > #Content > h3#Title{
  font-size: 21px;
  margin-bottom:8px;
}

#MobileView > #Content > h3#Title > strong{
  font-weight:bold;
}

#MobileView > #Content > nav{
  font-size:18px;
  margin-bottom: 12px;
}

#MobileView > #Content > nav > a{
  color: #666;
  text-decoration: none;
}

#MobileView > #Content > nav > a:nth-child(2){
  font-weight:bold;
  color: #E71212;
}

#MobileView > #Content > nav > a:nth-child(2):before{
  content: " | ";
  color: #CCC;
}

.HR{
  width: 100%;
  clear:both;
  display: block;
  border-top: 1px solid var(--maincolor);
  margin: 20px 0;
}

#MobileView > #Content > menu{
  width:90%;
  margin:0 auto;
}

#MobileView > #Content > menu > ul > li{
  text-align:left;
  display:flex;
  border:1px solid #EAEAEA; 
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  width: 90%;
  margin-bottom: 8px;
}

#MobileView > #Content > menu > ul > li:active{
  box-shadow: 0 0 14px #EAEAEA inset;
  border-color: #CCC;
}

#MobileView > #Content > menu > ul > li > #Icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #EAEAEA;
  padding-right: 12px;
  margin-right: 12px;
  text-align:center;
}

#MobileView > #Content > menu > ul > li > #Icon > i{
  font-size: 28px;
  color: #444;
}

#MobileView > #Content > menu > ul > li > #Content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#MobileView > #Content > menu > ul > li > #Content > h4{
  font-size: 16px;
  color: #444;
}

#MobileView > #Content > menu > ul > li > #Content > span{
  font-size: 12px;
  color: #666;
}

/*FINE profilo user*/

/* inizio  altezza carosello */
.heightCarousel {
  height: 50vh;
}
/* fine altezza carosello */

/*swiper*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*fine swiper*/
/*prova card*/
/* .card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;

  transition: transform 0.3s ease-in-out;
} */

.card-image {
  width: fit-content;
  
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}




.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: var(--maincolor);
  color: #fff;
  border-radius: 0 0 8px 8px;
  margin-bottom: 0;
}
.card-button2 {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 80%;
  background-color: var(--maincolor);
  color: #fff;
  border-radius: 0 0 8px 8px;
  margin-bottom: 0;
}

.card-button:hover {
  text-decoration: none;
  background-color: #0c72d1;
  color: #ffffff

}
.card-sl:hover {
  transform: translateY(-8px);
  transition: transform 0.3s ease-in-out;
 
}
.card-sl:not(:hover) {
  transform: translateY(0);
}


@keyframes pulse {
  0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
  }

  70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}



/*prova*/





@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;600&family=PT+Sans:ital,wght@0,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap');
/*INIZIO VIDEO*/

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Imposta l'altezza del video a 16:9 */
  height: 0;
  overflow: hidden;
}

.video-wrapper video {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;
}


/*FINE VIDEO*/

/*INIZIO CARD CATEGORIE*/

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  /* --width-container: 1200px; */
}



.height_card{
  height: 100%;
  width: 245px;
}


.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  /* max-width: var(--width-container); */
  /* width: 100%; */
}

@media(max-width: 539px) {
  .card-container {
    display: none;
  }
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }

  .card-container {
    margin-top: -26%;
    display: block;
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(5, 1fr); 
  }
}

.card1{
  border: solid 3px white;
  list-style: none;
  position: relative;
  border-radius: 14% !important;
  box-shadow: none !important;
}

.card1:before{
  content: '';
  display: block;
  padding-bottom:50%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: bottom;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card1:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card1:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/*FINE CARD CATEGORIE*/


/* ALTRO */
#no_linea{
    border: 0;
  }


.colore_testo_dinamico{
  color: var(--secondarycolor);
  font-weight: 800;
}

 #no_linea2{
    border: 0;
    text-decoration: none;
    list-style-type: none;
  } 
 
  :root {
    --maincolor: #008cff;
    --secondarycolor: #00e7e2;
    font-family: 'Roboto', sans-serif;
  /* 
    font-family: 'Finlandica', sans-serif; */
  
  }

/*INIZIO NAVBAR */
  .navbar {
     padding: 20px 100px; 
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-large {
    padding:20px 60px ;

  }
  .navbar ul {
    padding: 0 0;
    margin: 0 0; 
  }
  
  .navbar ul li {
    list-style: none;
    color: #fff;
    display: inline-block;
    position: relative; /*aggiunto*/
  }
  /*inizio aggiunta*/
  .navbar ul li a {
    color: #000;
    padding: 28px 0px;
    margin:0 10px; 
    text-decoration: none;
    font-weight: 500;
  }
  
  .navbar ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px; 
    border: 1px solid #ccc;
  }
  
  .navbar ul li:hover ul {
    display: block;
  }
  
  .navbar ul li ul li {
    display: block;
    margin: 5px 0;
  }
  
  .navbar ul li ul li a {
    display: block;
    padding: 5px 0;
  }
  
  .navbar ul li.dropdown:hover > a {
    color: var(--maincolor);
    border-top: 2px solid black; 
  }
  
  .navbar ul li.dropdown > ul {
    display: none;
  }
  
  .navbar ul li.dropdown:hover > ul {
    display: block;
  }

  .navbar ul li a {
    color: #000;
    padding: 28px 0px;
    margin:0 10px; 
    text-decoration: none;
    font-weight: 500;
  }
  
 
  .navbar ul li a:hover {
    color: var (--maincolor);
    color: var(--maincolor);
  }

  .notifica {
    height: 25px;
  }
/*fine aggiunta*/
  
  .logo {
    color: #000;
    text-decoration: none;
  }
  
  .logo .itzone-logo {
    height:40px;
  }
  .btn-cta {
    padding: 12px 24px;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(0,231,226,1) 0%, rgba(0,140,255,1) 100%);
    color: #fff;
    border: solid 0px;
  
  }
.margineFlag{
 
}
.category-row {
    width: max-content;
  }
  
  

/*FINE NAVBAR*/

/*INIZIO LOGIN*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');








a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.login-button {
	border-radius: 20px;
	border: 1px solid #000000;
	background-color: var(--maincolor);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.login-button:active {
	transform: scale(0.95);
}

.login-button:focus {
	outline: none;
}

.login-button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.form-register {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 5px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  
}

.container-login {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	/* z-index: 2; */
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	/* z-index: 1; */
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	/* z-index: 100; */
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: var(--maincolor);
	background: -webkit-linear-gradient(to right, var(--maincolor), var(--secondarycolor));
	background: linear-gradient(to right,var(--maincolor), var(--secondarycolor));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}



/*FINE LOGIN*/

/*INIZIO FOOTER*/
section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  @media (max-width: 767px) {
    .log {
       display: none;
    }
    .heightCarousel{
      height: 20vh;
    }
  }
  @media (max-width: 600px) {
    .card-sl {
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 60%;
    
      transition: transform 0.3s ease-in-out;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }

/*FINE FOOTER*/
/* FORM */
.linea-form {
  color: var(--maincolor);
}

.border-form {
  border: solid var(--secondarycolor) 2px;
  border-radius: 5px;
}

.row-form {
  padding: 10px 30px;
}
/* LAVORA VON NOI */
/* .lavora-con-noi-container {
  border: solid var(--secondarycolor) 2px;
  border-radius: 5px;
  
} */

/* immagini annuncio */
.image-preview {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Sezione Team */

.img-team {
  width: 150px;
  height: 150px;
}

.border-custom{
  border-bottom: solid 2px var(--secondarycolor);
}

.shape {
  border-radius: 100%;
}
/* ltezza immagini dettaglio */
.dettaglioimg{
  height: 400px;
  width: 100%;
}
.drop-lingua{
  width: 0px;
  
}
.dropdown-menu{
  min-width: fit-content;
}
/* fine alteza */
